<div class="white-panel pn">
    <div class="white-header">
      <h5>TOP USER</h5>
    </div>
    <div class="test">
      <p><img src="../../../assets/img/icones/pantheon.png" class="img-circle" width="50"></p>
    </div>
    <p><b>Zac Snider</b></p>
    <div class="row">
      <div class="col-md-6">
        <p class="small mt">MEMBER SINCE</p>
        <p>2012</p>
      </div>
      <div class="col-md-6">
        <p class="small mt">TOTAL SPEND</p>
        <p>$ 47,60</p>
      </div>
    </div>
</div>