header{
    background: #aaa3a3;
    position: fixed;
    width: 100%;
}

body {
    color: #797979;
	background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

p{
    text-align: center;
}