<div id="setram_cap">
    <table>
        <tbody>
            <tr id="charly" *ngFor="let info of this.infos">
                <table id="tableau">
                    <tr>
                        <td><img src="../../../assets/img/num_bus/{{info.numero_ligne}}.png"></td>
                        <td>ligne {{info.numero_ligne}}</td>
                        <td><a href={{info.lien}}>[voir les horraires]</a></td>
                    </tr>
                </table>
            </tr>
        </tbody>
    </table>
</div>
