<div id="setram_cap">
    <table>
        <tbody>
            <tr id="charly" *ngFor="let info of this.infos">
                <table id="tableau">
                  <tr>
                    <td rowspan="2"><img src="../../../assets/img/num_bus/{{info.numero_ligne}}.png" id="imageLigne"><br></td>
                    <td  rowspan="2">{{ info.nom_arret}}</td>
                    <td><a href={{info.lien}}>[voir les horraires]</a></td>
                  </tr>
                  <tr>
                    <td>à {{info.distance}}m</td>
                  </tr>
                </table>
            </tr>
        </tbody>
    </table>
</div>
