<div id="poi">
  <table>
    <thead>
      <tr>
        <th>
          <button class="btn" id = 'rest' onclick="this.restaurant()">
              <p>Restaurants<img src="../../../assets/img/cutlery.png" width="20"> </p>
          </button>
          <button class="btn" id = 'maga' onclick="this.magasin()">
              <p>Magasins<img src="../../../assets/img/shopping-cart.png" width="20"></p>
          </button>
          <button class="btn" id='muse' onclick="this.musée()">
              <p>Musées<img src="../../../assets/img/pantheon.png" width="20"></p>
          </button>
          <button class="btn" id='lieu' onclick="this.parc()">
              <p>Lieux<img src="../../../assets/img/parc.png" width="20"></p>
          </button>
          <button class="btn" id='hote' onclick="this.hotel()">
              <p>Hotels<img src="../../../assets/img/hotel.png" width="20"></p>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lieu of this.lieuxSelect">
        <td>
          <table>
            <thead>
              <tr>
                <td><img src={{lieu.image}} width="20"></td>
                <td>{{lieu.nom}}</td>
                <td>à {{lieu.distance}}m</td>
              </tr>
            </thead>
            </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
