<p>Catégories</p>
<button class="restaurants">
    <p>Restaurants<img src="../../../assets/img/cutlery.png" width="20"></p>
</button>
<button class="magasins">
    <p>Magasins<img src="../../../assets/img/shopping-cart.png" width="20"></p>
</button>
<button class="musees">
    <p>Musées<img src="../../../assets/img/pantheon.png" width="20"></p>
</button>
<button class="lieux">
    <p>Lieux<img src="../../../assets/img/parc.png" width="20"></p>
</button>
<button class="hotels">
    <p>Hotels<img src="../../../assets/img/hotel.png" width="20"></p>
</button>