proxy=http://proxy.univ-lemans.fr:3128/
http-proxy=http://proxy.univ-lemans.fr:3128/
http_proxy=http://proxy.univ-lemans.fr:3128/
https-proxy=http://proxy.univ-lemans.fr:3128/
https_proxy=http://proxy.univ-lemans.fr:3128/
audit=false
registry=http://registry.npmjs.org/
legacy-peer-deps=true
